
html, body {
    width: 100%; 
}

body {
    background-color: white;
    padding: 7px;
    
}

#main {
    width: 100%;
    background-color: lightgrey;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 5px 5px 5px;
    
    
}

#title {
    display: flex;
    justify-content: center;
    padding: 20px;
}

div#title  h1 {
    font-family: 'Monsieur La Doulaise', cursive;
    font-size: 5em; 
}

#img-div {
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;;
    
}

#image {
    width: 400px;
    height: auto;
    
}
